* {
  margin: 0;
  padding: 0;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.Converter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Cointainer_converter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70vh;
  width: 50vw;
}

.Amount p {
  color: gray;
}

.OptionCoin img {
  width: 25px;
  padding: 0;
  margin: 0%;
}

.OptionCoin {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.To {
  display: flex;
  justify-content: center;
}

.From {
  display: flex;
  justify-content: center;
}

.inputs_coin {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 30vh;
}

.Container_Inputs {
  color: slateblue;
  font-weight: bold;
}

.amount_and_info {
  display: flex;
  justify-content: space-between;
  width: 47vw;
}

.Amount {
  display: flex;
}

.Btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 48vw;
  height: 10vh;
  margin-right: 15px;
  padding-top: 50px;
}
